.note-component {
    display: flex;
    flex-direction: column;
    background: var(--secondary-color);
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.3rem 0.3rem #00000030;
}

::deep .title-text {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-text-color);
}

::deep .body-text {
    color: var(--primary-text-color);
}

.date-text {
    font-weight: 100;
    color: var(--secondary-text-color);
    display: inline-block;
}